
<div class="login-page">
    <div class="login-main">  	
    	 <div class="login-head">
				<h1>Login</h1>
			</div>
			<div class="login-block">
				<form>
					<input type="text" name="Cedula" placeholder="Cedula" required="" id="txtUsuario">
					<input type="password" name="password" class="lock" placeholder="Password" id="txtPassword">
					<div id="txtMensaje" style="text-align: center;"></div>
					<input class="btnsubmit" name="Sign In" value="Login" (click)="clickLogin()">	
					<br>
					<div class="login-icons">
						<ul>
							<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>						
						</ul>
					</div>
				</form>
				
			</div>
      </div>
</div>