<div class="page-container">
    <div class="left-content" style=" height: 1000px;">
        <div class="mother-grid-inner">
            <!--header start here-->
            <div class="header-main">
                <div class="header-left">
                    <div class="logo-name">
                        <a href="index.html">
                            <h1>Faenamiento</h1>
                            <!--<img id="logo" src="" alt="Logo"/>-->
                        </a>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <div class="header-right">

                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <div class="profile_img">
                                        <span class="prfil-img"><img src="{{usuraioUso.Imagen}}" height="50px"
                                                width="50px" style="border-radius: 50%;"> </span>
                                        <div class="user-name">
                                            <p>{{usuraioUso.Nombres}} {{usuraioUso.Apellidos}}</p>
                                            <span>{{usuraioUso.NombrePerfil}}</span>
                                        </div>
                                        <i class="fa fa-angle-down lnr"></i>
                                        <i class="fa fa-angle-up lnr"></i>
                                        <div class="clearfix"></div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu">

                                    <li> <a routerLink="perfil"><i class="fa fa-user"></i> Perfil</a> </li>
                                    <li> <a (click)="clickCerrarSecion()"><i class="fa fa-sign-out"></i> Cerrar
                                            Sesión</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--heder end here-->

            <!--inner block start here-->
            <div class="inner-block" style=" height: 1000px;">
                <router-outlet></router-outlet>





            </div>

        </div>
    </div>
    <!--slider menu-->
    <div class="sidebar-menu" >
        <div class="logo"> <a class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#"> <span
                    id="logo"></span>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a> </div>
        <div class="menu">
            <ul id="menu">

                <li *ngIf="exitsRuta('guias')" id="menu-academico"><a routerLink="guias"><i class="fa fa-file-text"></i><span>Gias</span><span
                            class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub">
                        <li *ngIf="exitsRuta('guias')" id="menu-academico-boletim"><a routerLink="guias">Listado</a></li>
                        <li *ngIf="exitsRuta('newguia')" id="menu-academico-avaliacoes"><a routerLink="newguia">Nueva</a></li>
                    </ul>
                </li>



                <li id="menu-home"  *ngIf="exitsRuta('usuarios')"><a routerLink="usuarios"><i class="fa fa-user"></i><span>Usuarios</span></a></li>
                
            </ul>
        </div>
   
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
</div>